<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<string>Recent</string>
	<key>one</key>
	<string>最近使用</string>
	<key>text</key>
	<string>最近使用</string>
	<key>yan</key>
	<array/>
</dict>
</plist>
